<div class="episodeCharacterCard" *ngIf="character">
  <div class="episodeCharacterImg">
    <img class="episodeCharacterImage" src="{{character.image}}" alt="image">
  </div>
  <div class="episodeCharacterInfo">
    <div> <div>{{character.id}}. {{character.name}}</div>
      <div>Gender : {{character.gender}}</div>
      <div>Location : {{character.location.name}}</div>
      <div>Origin : {{character.origin.name}}</div>
      <div>Status : {{character.status}}</div>
      <div>Species : {{character.species}}</div>
    </div>
  </div>
</div>
