.characterCardList{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.title{
  display: flex;
justify-content: space-around;
}
.mat-paginator{
  margin-top: 20px;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 10px;
}
