<div class="characterCardDetailed">
  <div class="characterImgDetailed">
    <img class="imageCharDetailed" src="{{character.image}}" alt="image">
  </div>
  <div class="characterInfoDetailed">
    <div>{{character.id}}. {{character.name}}</div>
    <div>Gender : {{character.gender}}</div>
    <div>Location : {{character.location.name}}</div>
    <div>Origin : {{character.origin.name}}</div>
    <div>Status : {{character.status}}</div>
    <div>Species : {{character.species}}</div>
    <div>{{character.created}}</div>
  </div>

    <a class="back" routerLink="/characters">Back</a>
</div>
